html {
	background:#505D6E url(../images/bg_body1.jpg) no-repeat center center fixed; 
	min-height:100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

body {
	background:transparent;
	min-height:100%; 	
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	line-height: 1.5em;
	font-size:14px;
	font-family: 'Open sans', Helvetica, Arial, sans-serif;
}






/********************************************************/
/*                      Header                          */
/********************************************************/
#head { 
	min-height:420px;
	text-align:center;
	padding-top:160px;
	color:rgba(255,255,255,.8);
}
#head a { 
	color:#fff; 
	text-decoration: underline;
}
#head .title,
#head .subtitle { 
	font-family: 'Wire One', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:7em;
	margin-bottom:15px; 
	color:#FDF9F4; 
	line-height:1em;
	text-shadow:0 2px 3px rgba(0,0,0,.3);
}
#head .subtitle { 
	line-height:.9em;
	font-size:5.5em;
	margin-top:0;
	margin-bottom:40px; 
}
#head .tagline { 
	font-size:1.4em;
	line-height:1.3em;
	font-weight:normal;
	margin-bottom:75px;
	text-shadow:0 1px 2px rgba(0,0,0,.5);
}
#head .info { 
	width:75%;
	font-size:1em;
	margin:0 auto;
	text-shadow:0 1px 2px rgba(0,0,0,.5);
}


@media (max-width: 767px) {
	#head { min-height:420px; padding-top:220px; }
	#head .lead { font-size: 34px; }
}


/* Buttons */
.btn{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:16px 30px;
}

#head .btn-default {
	text-shadow: none;
	text-decoration: none;
	color:#333;
	background: rgba(255,255,255,.5);
	border:0 none;
}
#head .btn-default:hover,
#head .btn-default:focus {
	background: rgba(255,255,255,.8);
}
#head .btn-default:active,
#head .btn-default.active {
	background: rgba(255,255,255,.8);
}


/* Navigation bar */
.mainmenu { position: fixed; width:100%;  padding: 30px 0 0 0;}

.navbar-toggle {
	position:relative;
	padding: 9px 10px;
	background: rgba(255,255,255,.5);
	background-image: none;
	border: 0 none;
	top:0px; 
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	outline: 0;
	opacity: 1;
	-webkit-transition: all .45s;
	   -moz-transition: all .45s;
	        transition: all .45s;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #fff;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
.open .navbar-toggle { 
	top:-70px; 
	opacity: 0;  
}
.mainmenu .dropdown-menu {
	top: -14em;
	left: 0px;
	font-size: 13px;
	padding:0;
	background:none;
	border:0 none;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	display:block;
	opacity:0;
	-webkit-transition: all .45s;
	   -moz-transition: all .45s;
	        transition: all .45s;
}
.mainmenu .open .dropdown-menu { 
	top:2px;
	opacity:1;
}
.mainmenu .dropdown-menu a { 
	text-shadow:0 2px 1px rgba(0,0,0,.2);
	padding:10px 10px;
	margin:0;
	color:white;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
.mainmenu .dropdown-menu a:hover { 
	background:rgba(255,255,255,.5);
	text-shadow:none;
}

/* Social buttons just above the footer */
#social { 
	margin-top:50px;
	margin-bottom:50px;
}
#social .wrapper { 
	width:340px; 
	margin:0 auto;
}



